Repository sjofartstidningen/bryggan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, eslint, prettier --write

chore: Remove .flowconfig
  .flowconfig
Due: none

test(enzyme): Remove enzyme from project
  package.json
  src/setupTests.js
  src/test-utils/index.js
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

chore: Remove flow-bin dependency
  package.json
  yarn.lock
Due: prettier --write

test(enzyme): Remove react-test-renderer dep
  package.json
  yarn.lock
Due: prettier --write

chore: Start fresh clean slate
  .gitignore
  package.json
  public/favicon.ico
  public/index.html
  public/manifest.json
  src/App.tsx
  src/index.tailwind.css
  src/index.tsx
  src/logo.svg
  src/react-app-env.d.ts
  src/serviceWorker.ts
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

chore: Setups
  src/App.tsx
  src/index.tsx
  src/logo.svg
  src/setupTests.ts
Due: none

fix(handle-auth): Use correct redirect url
  .gitignore
  LICENSE
  cypress/integration/auth.spec.ts
  cypress/integration/search-box.spec.ts
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  src/App.tsx
  src/__fixtures__/dropbox/auth/token/revoke.json
  src/constants.ts
  src/env.ts
  src/functions/__tests__/handle-auth.ts
  src/functions/handle-auth.ts
  src/hooks/useDropbox/__tests__/useDropbox.tsx
  src/hooks/useDropbox/index.tsx
  src/pages/SignIn.tsx
  src/utils/__tests__/utils.ts
  src/utils/index.ts
Due: prettier --write

wip: new auth handler
  src/hooks/useAsyncEffect.ts
  src/hooks/useDropbox/reducer.tsx
Due: none

fix: Update constants
  src/App.tsx
  src/constants.ts
  src/functions/__tests__/handle-auth.ts
  src/functions/handle-auth.ts
  src/pages/SignIn.tsx
Due: none

wip: Create resource
  src/hooks/useAuth/index.tsx
  src/resources/create-resource.ts
Due: none

feat: Reimplement auth flow
  src/App.tsx
  src/api/dropbox.ts
  src/components/Authenticated.tsx
  src/components/DropboxPreview.tsx
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/components/SearchBox/useSearch.ts
  src/components/__tests__/Authenticated.tsx
  src/constants.ts
  src/hooks/useAuth/__tests__/useAuth.tsx
  src/hooks/useAuth/index.tsx
  src/hooks/useDropbox/__tests__/useDropbox.tsx
  src/hooks/useDropbox/authReducer.ts
  src/hooks/useDropbox/index.tsx
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
  src/resources/create-resource.ts
  src/resources/dropbox.ts
  src/types/dropbox.ts
  src/utils/lru.ts
  src/utils/test-utils.tsx
Due: none

fix: Use standard bound catch handlers
  src/hooks/useAuth/index.tsx
Due: none

test(e2e): Update cypress integrations
  cypress/integration/auth.spec.ts
  cypress/support/commands.ts
Due: none

test(e2e): Update auth flow
  cypress/commands.d.ts
  cypress/integration/auth.spec.ts
  cypress/support/commands.ts
Due: none

fix(useAuth): Extract auth state actors
  src/hooks/useAuth/index.tsx
  src/hooks/useAuth/state-handler.ts
Due: none

fix: Rename stage to status on auth state
  src/App.tsx
  src/components/Authenticated.tsx
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/hooks/useAuth/__tests__/useAuth.tsx
  src/hooks/useAuth/index.tsx
  src/hooks/useAuth/state-handler.ts
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
Due: none

chore: Split out methods and types
  src/hooks/useAuth/index.tsx
  src/hooks/useAuth/reducer.ts
  src/hooks/useAuth/state-chart.ts
  src/hooks/useAuth/types.ts
Due: none

docs: Document use auth hooks
  src/hooks/useAuth/index.tsx
Due: none

chore: Rename hooks to more consistent naming
  src/App.tsx
  src/components/Authenticated.tsx
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/components/ScreenSize.tsx
  src/hooks/use-async-effect.ts
  src/hooks/use-auth/__tests__/useAuth.tsx
  src/hooks/use-auth/index.tsx
  src/hooks/use-auth/reducer.ts
  src/hooks/use-auth/state-chart.ts
  src/hooks/use-auth/state-handler.ts
  src/hooks/use-auth/types.ts
  src/hooks/use-rect.ts
  src/hooks/use-timeout.ts
  src/hooks/use-window-dimensions.ts
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
  src/utils/test-utils.tsx
Due: none

fix: Add user page
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/Icons.tsx
  src/components/Loader.tsx
  src/components/ProfileBox.tsx
  src/components/SearchBox/index.tsx
  src/components/Tooltip.tsx
  src/hooks/use-theme.ts
  src/pages/User.tsx
  src/react-app-env.d.ts
  src/resources/dropbox.ts
  src/styles/theme.ts
  src/styles/utils.ts
  src/types/dropbox.ts
  yarn.lock
Due: prettier --write

fix: Skip use ts base directory
  src/App.tsx
  src/components/Authenticated.tsx
  src/components/DropboxPreview.tsx
  src/components/Header.tsx
  src/components/Loader.tsx
  src/components/ProfileBox.tsx
  src/components/ScreenSize.tsx
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/components/SearchBox/index.tsx
  src/components/SearchBox/use-search.ts
  src/components/Spinner.tsx
  src/components/Tooltip.tsx
  src/components/__tests__/Authenticated.tsx
  src/components/__tests__/ErrorBoundary.tsx
  src/hooks/use-auth/__tests__/useAuth.tsx
  src/hooks/use-auth/state-handler.ts
  src/hooks/use-auth/types.ts
  src/hooks/use-rect.ts
  src/index.tsx
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
  src/pages/User.tsx
  src/resources/create-resource.ts
  src/resources/dropbox.ts
  tsconfig.json
Due: prettier --write

fix(theme): Add new maxWidth theme prop
  src/hooks/use-theme.ts
  src/styled.d.ts
  src/styles/theme.ts
Due: none

fix: Remove user page
  src/App.tsx
  src/pages/User.tsx
Due: none

feat: Add Profile context menu
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/Icons.tsx
  src/components/ProfileBox.tsx
  src/components/ProfileMenu.tsx
  src/constants.ts
  src/hooks/__tests__/use-menu.tsx
  src/hooks/use-auth/index.tsx
  src/hooks/use-menu.tsx
  src/styled.d.ts
  src/styles/theme.ts
  src/styles/utils.ts
  src/utils/clipboard.ts
  src/utils/test-utils.tsx
  yarn.lock
Due: prettier --write

fix: Update bad imports
  src/functions/__tests__/handle-auth.ts
  src/utils/__tests__/array.ts
Due: none

fix: Update context menu
  src/components/ProfileBox.tsx
  src/components/ProfileMenu.tsx
  src/components/ProfileMenu/Profile.tsx
  src/components/ProfileMenu/Sections.ts
  src/components/ProfileMenu/index.tsx
Due: none

fix: Create toggle button
  src/App.tsx
  src/components/Form/ToggleButton.tsx
  src/components/SettingsMenu/GeneralSettings.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/Sections.ts
  src/components/SettingsMenu/index.tsx
  src/styles/theme.ts
Due: none

feat: Migrate from @reach/router to react-router
  package.json
  src/App.tsx
  src/components/Authenticated.tsx
  src/components/AuthenticatedRoute.tsx
  src/components/ErrorBoundary.tsx
  src/components/Header.tsx
  src/components/SearchBox/index.tsx
  src/components/__tests__/Authenticated.tsx
  src/components/__tests__/AuthenticatedRoute.tsx
  src/constants.ts
  src/hooks/use-auth/__tests__/useAuth.tsx
  src/hooks/use-auth/index.tsx
  src/pages/DropboxAuthHandler.tsx
  src/pages/Landing.tsx
  src/pages/SignIn.tsx
  src/utils/test-utils.tsx
  yarn.lock
Due: prettier --write

fix: Setup custom auth handling
  src/functions/sign-in.ts
  src/functions/token.ts
Due: none

fix: Show som variables
  src/functions/sign-in.ts
Due: none

fix: Update env variables
  src/functions/token.ts
Due: none

Path conditions:
  yarn test:staged: any of: *.js
  eslint: any of: *.js
  prettier --write: any of: *.{js,json,css,md}
