Repository sjofartstidningen/bryggan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, eslint, prettier --write

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "*.js": ["yarn test:staged", "eslint"],
    "*.{js,json,css,md}": ["prettier --write", "git add"]
  }
}

chore(lambda): try fixing lambda env
  src/functions/handle-auth.ts
  src/types/general.d.ts
  webpack.functions.js
Due: yarn test:staged, eslint, prettier --write

fix: try fixing auth urls
  src/functions/handle-auth.ts
  src/hooks/__tests__/use-async-effect.tsx
Due: none

ci: try fixing handle auth urls
  package.json
  src/functions/handle-auth.ts
Due: prettier --write

fix: remove temps
  src/functions/handle-auth.ts
Due: none

fix(auth): store token properly after successful auth
  src/hooks/use-auth.tsx
  src/utils/dropbox.ts
Due: none

ci: move back to axios to prevent fetch mocking
  src/hooks/use-auth.tsx
  src/pages/SignIn.tsx
  src/utils/dropbox.ts
Due: none

chore: upgrade minimum node version
  .nvmrc
  .travis.yml
  package.json
Due: prettier --write

fix(gql): extend gql schema with extra fields
  schema.json
  src/functions/resolvers/files.ts
  src/functions/types/files.ts
Due: prettier --write

fix: init work on landing page
  src/hooks/use-graphql.ts
  src/pages/Landing.tsx
  src/types/graphql.ts
  src/utils/regex.ts
Due: none

chore: update to experimental react
  src/App.tsx
  src/index.tsx
  src/react-app-env.d.ts
Due: none

chore: blow out lock file to fix cypress issue
  package.json
  yarn.lock
Due: prettier --write

chore: Update yarn.lock
  yarn.lock
Due: none

Drop travis in favor of github actions
  .github/workflows/pull-request.yml
  .travis.yml
  cypress/integration/search-box.spec.ts
  package.json
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/hooks/__tests__/use-async-effect.tsx
  src/hooks/__tests__/use-auth.tsx
  src/hooks/use-auth.tsx
  src/index.tsx
  src/types/nanoid.d.ts
  yarn.lock
Due: prettier --write

Use new dropbox values
  src/components/Fetch/dropbox.js
Due: yarn test:staged, eslint, prettier --write

Skip getEnv
  src/utils/firebase.js
Due: yarn test:staged, eslint, prettier --write

Add Dropbox-API-Path-Root
  src/components/Fetch/dropbox.js
Due: yarn test:staged, eslint, prettier --write

Update preview generation
  src/components/Fetch/dropbox.js
  src/types/firebase.js
Due: yarn test:staged, eslint, prettier --write

Try fixing previews
  src/components/Fetch/dropbox.js
  src/utils/dropbox.js
Due: yarn test:staged, eslint, prettier --write

Add token generator
  scripts/generate-dropbox-config.js
Due: yarn test:staged, eslint, prettier --write

Use undocumented dropbox query params
  src/components/Fetch/dropbox.js
  src/utils/dropbox.js
Due: yarn test:staged, eslint, prettier --write
