Repository sjofartstidningen/bryggan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, eslint, prettier --write

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "*.js": ["yarn test:staged", "eslint"],
    "*.{js,json,css,md}": ["prettier --write", "git add"]
  }
}

fix: Remove env echoes
  src/functions/sign-in.ts
  src/functions/token.ts
Due: none

fix: Update token getter
  src/functions/get-token.ts
  src/functions/sign-in.ts
Due: none

fix: Skip chaching
  src/functions/token.ts
Due: none

fix: Skip use of safe env
  src/constants.ts
  src/env.ts
  src/functions/__tests__/handle-auth.ts
  src/functions/handle-auth.ts
  src/functions/token.ts
  src/hooks/use-auth/__tests__/useAuth.tsx
  src/hooks/use-auth/state-handler.ts
Due: none

fix(handle-auth): Never cache auth handler
  src/functions/handle-auth.ts
Due: none

fix: Enhance useMenu hooks
  src/components/Header.tsx
  src/hooks/use-menu.tsx
Due: none

fix: Update create resource
  package.json
  src/resources/create-resource.ts
  src/resources/dropbox.ts
  yarn.lock
Due: prettier --write

fix: Remove temporary lambdas
  package.json
  src/functions/get-token.ts
  src/functions/token.ts
  yarn.lock
Due: prettier --write

fix: Update use of env variables
  src/constants.ts
  src/env.ts
  src/functions/__tests__/handle-auth.ts
  src/hooks/use-auth/__tests__/useAuth.tsx
  src/hooks/use-auth/state-handler.ts
Due: none

chore: Add cypress env example
  .gitignore
  cypress.env.example.json
Due: prettier --write

chore: Update dev deps
  cypress/testing-library.d.ts
  cypress/tsconfig.json
  package.json
  src/styled.d.ts
  yarn.lock
Due: prettier --write

chore: Upgrade deps
  package.json
  yarn.lock
Due: prettier --write

fix: Use correct values for shadows
  src/styles/theme.ts
Due: none

fix: Introduce layers
  src/App.tsx
  src/components/AppWrapper.tsx
  src/components/Header.tsx
  src/components/PopUpOverlay.tsx
  src/styled.d.ts
  src/styles/theme.ts
Due: none

fix Setup Graphql
  .gitignore
  .graphqlconfig
  apollo.config.js
  package.json
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

fix: implement some basic GraphQL
  src/functions/graphql.ts
  src/functions/queries/files.ts
  src/functions/queries/users.ts
Due: none

fix: Setup gql codegen
  __generated__/globalTypes.ts
  package.json
Due: prettier --write

fix: Scheam updates
  src/functions/graphql.ts
  src/functions/queries/files.ts
Due: none

Changes
  src/functions/graphql.ts
  src/functions/resolvers/scalars.ts
  src/functions/types/base.ts
  src/functions/types/files.ts
  src/functions/types/users.ts
Due: none

Backend updates
  package.json
  src/api/dropbox.ts
  src/functions/graphql.ts
  src/functions/resolvers/files.ts
  src/functions/resolvers/general.ts
  src/functions/resolvers/scalars.ts
  src/functions/resolvers/users.ts
  src/functions/ts/types.ts
  src/functions/types/base.ts
  src/functions/types/files.ts
  src/functions/types/users.ts
  src/react-app-env.d.ts
  src/utils/__tests__/object.ts
  src/utils/object.ts
  yarn.lock
Due: prettier --write

Add pagination to listFolder
  src/functions/resolvers/files.ts
  src/functions/ts/types.ts
  src/functions/types/files.ts
Due: none

Add basic error handling
  src/functions/graphql.ts
  src/functions/resolvers/files.ts
  src/functions/resolvers/general.ts
  src/functions/resolvers/users.ts
Due: none

fix: Handle custom scalars on client
  package.json
  src/graphql-scalars.d.ts
Due: prettier --write

fix: Implement content field on FolderMetadata
  src/functions/resolvers/files.ts
  src/functions/types/files.ts
Due: none

fix: Implement more resolvers
  package.json
  src/functions/data-sources/Dropbox.ts
  src/functions/graphql.ts
  src/functions/resolvers/files.ts
  src/functions/resolvers/general.ts
  src/functions/resolvers/users.ts
  src/functions/ts/dropbox.ts
  src/functions/ts/types.ts
  src/functions/types/base.ts
  src/functions/types/files.ts
  src/functions/utils/index.ts
  src/utils/object.ts
  yarn.lock
Due: prettier --write

fix: Connect Apollo on client
  package.json
  src/App.tsx
  src/apollo.ts
  yarn.lock
Due: prettier --write

feat: Create GraphQL api (#53)
  .gitignore
  .graphqlconfig
  __generated__/globalTypes.ts
  apollo.config.js
  package.json
  src/App.tsx
  src/api/dropbox.ts
  src/apollo.ts
  src/functions/data-sources/Dropbox.ts
  src/functions/graphql.ts
  src/functions/resolvers/files.ts
  src/functions/resolvers/general.ts
  src/functions/resolvers/users.ts
  src/functions/ts/dropbox.ts
  src/functions/ts/types.ts
  src/functions/types/base.ts
  src/functions/types/files.ts
  src/functions/types/users.ts
  src/functions/utils/index.ts
  src/graphql-scalars.d.ts
  src/react-app-env.d.ts
  src/utils/__tests__/object.ts
  src/utils/object.ts
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

fix: Add missing peer deps
  package.json
  yarn.lock
Due: prettier --write

fix: Solve ts issue with implicit any
  src/components/SettingsMenu/index.tsx
Due: none

wip: Create new auth version
  package.json
  src/App.tsx
  src/hooks/use-auth2.tsx
  src/utils/index.ts
  yarn.lock
Due: prettier --write

fix: Adapt to new auth hooks
  src/App.tsx
  src/components/AuthenticatedRoute.tsx
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/index.tsx
  src/hooks/use-auth2.tsx
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
Due: none

fix: Swap auth names
  src/App.tsx
  src/components/AuthenticatedRoute.tsx
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/index.tsx
  src/hooks/use-auth-legacy/__tests__/useAuth.tsx
  src/hooks/use-auth-legacy/index.tsx
  src/hooks/use-auth-legacy/reducer.ts
  src/hooks/use-auth-legacy/state-chart.ts
  src/hooks/use-auth-legacy/state-handler.ts
  src/hooks/use-auth-legacy/types.ts
  src/hooks/use-auth.tsx
  src/pages/DropboxAuthHandler.tsx
  src/pages/SignIn.tsx
Due: none

chore: Remove legacy
  src/hooks/use-auth-legacy/__tests__/useAuth.tsx
  src/hooks/use-auth-legacy/index.tsx
  src/hooks/use-auth-legacy/reducer.ts
  src/hooks/use-auth-legacy/state-chart.ts
  src/hooks/use-auth-legacy/state-handler.ts
  src/hooks/use-auth-legacy/types.ts
Due: none

fix(useAuth): Add some initial tests
  src/hooks/__tests__/use-auth.tsx
  src/hooks/use-auth.tsx
  src/setupTests.js
Due: yarn test:staged, eslint, prettier --write

test(useAuth): Add more tests
  src/hooks/__tests__/use-auth.tsx
Due: none

fix: Add types to local storage auth state
  cypress/support/commands.ts
  src/apollo.ts
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/components/__tests__/AuthenticatedRoute.tsx
  src/hooks/use-auth.tsx
  src/types/bryggan.ts
Due: none

test: Update tests
  src/App.tsx
  src/components/__tests__/AuthenticatedRoute.tsx
  src/hooks/__tests__/use-auth.tsx
  src/hooks/use-auth.tsx
  src/setupTests.js
  src/utils/test-utils.tsx
Due: yarn test:staged, eslint, prettier --write

fix: Use apollo to get user data
  package.json
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/__generated__/profile.ts
  src/components/__generated__/profile.ts
Due: prettier --write

fix: Update ProfileBox
  package.json
  src/components/Header.tsx
  src/components/ProfileBox.tsx
  src/components/__generated__/profilePhoto.ts
  src/components/__tests__/ProfileBox.tsx
  src/setupTests.js
  src/utils/test-utils.tsx
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

fix: Add missing label
  src/components/SettingsMenu/Profile.tsx
Due: none
