Repository sjofartstidningen/bryggan: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn test:staged, eslint, prettier --write

.lintstagedrc:

{
  "concurrent": false,
  "linters": {
    "*.js": ["yarn test:staged", "eslint"],
    "*.{js,json,css,md}": ["prettier --write", "git add"]
  }
}

fix: Update typings
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/__generated__/SettingsProfileQuery.ts
  src/components/SettingsMenu/__generated__/profile.ts
  src/components/__generated__/ProfilePhotoQuery.ts
Due: none

test(e2e): Update e2e tests
  cypress/integration/auth.spec.ts
  cypress/plugins/index.js
  cypress/support/commands.ts
  cypress/support/index.js
  cypress/support/prepare.ts
  package.json
Due: yarn test:staged, eslint, prettier --write

chore: Restructure types
  src/react-app-env.d.ts
  src/types/general.d.ts
  src/types/graphql-scalars.d.ts
  src/types/styled.d.ts
Due: none

test: Strengthen profilebox test
  src/components/__tests__/ProfileBox.tsx
Due: none

fix: Renamings in search box
  src/components/SearchBox/index.tsx
  src/components/SearchBox/use-search.ts
Due: none

chore: Upgrade deps
  package.json
  src/components/Tooltip.tsx
  yarn.lock
Due: prettier --write

fix: Minor fixes
  src/App.tsx
  src/functions/graphql.ts
Due: none

Prevent Cypress installation on netlify
  netlify.toml
Due: none

Update cypress netlify env
  netlify.toml
Due: none

fix: Setup mocked graphql in cy tests
  cypress/integration/auth.spec.ts
  cypress/support/commands.ts
  cypress/support/prepare.ts
  package.json
  src/constants.ts
  src/functions/types/users.ts
  src/hooks/use-auth.tsx
  yarn.lock
Due: prettier --write

chore: Update apollo settings
  .gitignore
  apollo.config.js
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/__generated__/SettingsProfileQuery.ts
  src/components/__generated__/ProfilePhotoQuery.ts
  src/functions/resolvers/users.ts
  src/functions/types/users.ts
Due: yarn test:staged, eslint, prettier --write

ci: update ci tasks to include schema codegen
  .travis.yml
  package.json
Due: prettier --write

Upgrade cypress and jest-styled-components
  cypress/support/prepare.ts
  package.json
  src/components/__tests__/ProfileBox.tsx
  src/types/jest.d.ts
  yarn.lock
Due: prettier --write

Disable SearchBox tests
  src/components/SearchBox/__tests__/SearchBox.tsx
Due: none

Fix tests depending on auth
  src/components/__tests__/AuthenticatedRoute.tsx
  src/hooks/__tests__/use-auth.tsx
  src/hooks/use-auth.tsx
  src/utils/__mocks__/dropbox.ts
  src/utils/dropbox.ts
  src/utils/test-utils.tsx
Due: none

Run lambda tests in node env
  src/functions/__tests__/handle-auth.ts
  src/setupTests.js
  src/utils/dropbox.ts
Due: yarn test:staged, eslint, prettier --write

chore(deps): upgrade deps
  package.json
  src/hooks/use-auth.tsx
  yarn.lock
Due: prettier --write

chore(deps): upgrade dependencies (#54)
  cypress/support/prepare.ts
  package.json
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/components/__tests__/AuthenticatedRoute.tsx
  src/components/__tests__/ProfileBox.tsx
  src/functions/__tests__/handle-auth.ts
  src/hooks/__tests__/use-auth.tsx
  src/hooks/use-auth.tsx
  src/setupTests.js
  src/types/jest.d.ts
  src/utils/__mocks__/dropbox.ts
  src/utils/dropbox.ts
  src/utils/test-utils.tsx
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

fix(gql): fix search issue
  src/functions/data-sources/Dropbox.ts
  src/functions/resolvers/files.ts
  src/functions/resolvers/users.ts
Due: none

chore: Update gql codegen
  .gitignore
  __generated__/globalTypes.ts
  package.json
Due: prettier --write

fix(graphql): setup search with cursor
  src/functions/data-sources/Dropbox.ts
  src/functions/resolvers/files.ts
  src/functions/ts/types.ts
  src/functions/types/files.ts
Due: none

chore: update imports
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
Due: none

fix: add aspect ratio constant
  src/constants.ts
Due: none

fix(tests): fix apollo part of tests
  src/components/__tests__/ProfileBox.tsx
  src/setupTests.js
  src/utils/test-utils.tsx
Due: yarn test:staged, eslint, prettier --write

fix(search): convert search to using graphql data
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/components/SearchBox/index.tsx
  src/components/SearchBox/use-search.ts
  src/utils/files.ts
Due: none

fix(search): setup e2e tests for search
  cypress.json
  cypress/commands.d.ts
  cypress/integration/auth.spec.ts
  cypress/integration/search-box.spec.ts
  cypress/support/commands.ts
  cypress/support/prepare.ts
  src/__fixtures__/dropbox/auth/token/revoke.json
  src/__fixtures__/dropbox/files/search/continue_v2.json
  src/__fixtures__/dropbox/files/search_v2.json
  src/__fixtures__/dropbox/users/get_current_account.json
  src/components/SearchBox/use-search.ts
  src/functions/types/users.ts
Due: prettier --write

fix: Remove legacy dropbox api
  src/App.tsx
  src/api/dropbox.ts
  src/components/DropboxPreview.tsx
  src/pages/DropboxAuthHandler.tsx
Due: none

Remove use-menu module
  src/App.tsx
  src/components/Header.tsx
  src/components/PopUpOverlay.tsx
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/index.tsx
  src/hooks/__tests__/use-menu.tsx
  src/hooks/use-menu.tsx
  src/utils/test-utils.tsx
Due: none

chore: include gql types
  .gitignore
  src/types/graphql.ts
Due: none

Fix tests and ci
  .travis.yml
  cypress/fixtures/example.json
  cypress/support/prepare.ts
  package.json
  src/components/ProfileBox.tsx
  src/components/__tests__/ProfileBox.tsx
  src/utils/test-utils.tsx
Due: prettier --write

Combine user queries (#55)
  .gitignore
  .travis.yml
  cypress/fixtures/example.json
  cypress/support/prepare.ts
  package.json
  src/App.tsx
  src/components/Header.tsx
  src/components/PopUpOverlay.tsx
  src/components/ProfileBox.tsx
  src/components/SettingsMenu/Profile.tsx
  src/components/SettingsMenu/index.tsx
  src/components/__tests__/ProfileBox.tsx
  src/hooks/__tests__/use-menu.tsx
  src/hooks/use-menu.tsx
  src/types/graphql.ts
  src/utils/test-utils.tsx
Due: prettier --write

fix: Get rid of apollo fragment error
  src/components/SearchBox/use-search.ts
  src/types/graphql.ts
Due: none

fix: Move thumbnail url generation to server
  cypress/support/prepare.ts
  src/components/DropboxPreview.tsx
  src/components/SearchBox/__tests__/SearchBox.tsx
  src/components/SearchBox/index.tsx
  src/components/SearchBox/use-search.ts
  src/types/graphql.ts
Due: none

fix: setup fragment cache with apollo
  package.json
  src/apollo.ts
  src/hooks/__tests__/use-auth.tsx
  src/setupTests.js
  src/utils/apollo.ts
  src/utils/test-utils.tsx
  yarn.lock
Due: yarn test:staged, eslint, prettier --write

fix: use useAsyncEffect
  src/pages/DropboxAuthHandler.tsx
Due: none

test: setup tests for use async effect
  src/hooks/__tests__/use-async-effect.tsx
Due: none

chore: resolve type conflicts
  src/components/SearchBox/index.tsx
  src/functions/handle-auth.ts
  src/functions/ts/dropbox.ts
  src/resources/create-resource.ts
  src/types/bryggan.ts
  src/types/dropbox.ts
  src/types/general.d.ts
  src/utils/lru.ts
Due: none

chore: cleanup and update deps
  package.json
  src/utils/test-utils.tsx
  yarn.lock
Due: prettier --write

chore: skip ignoring schema
  .gitignore
  schema.json
Due: prettier --write

ci: install unknown deps
  package.json
  yarn.lock
Due: prettier --write
